#grounds {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-right: 20px;
}


#grounds_map {
    height: 426px;
    min-width: 250px;
    width: 50%;
    border-radius: 20px;
    border: 3px solid #001E42;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.map_button {
    border: none;
    outline: none;
    background-color: #001E42;
    color: #E6E6E6;
    font-size: 1.1em;
    width: 100%;
    border-top: 2px solid #6A99B6;
}

.map_button:hover {
    background-color: #55A630;
}

#map_buttons_divider {
    background-color: #6A99B6;
    width: 3px;
    /* height: 40px; */
}

#map {
    height: 386px;
    min-width: 250px;
    width: 100%;
}

#map_buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
}

#grounds h2 {
    width: 250px;
    margin-top: 0;
}

.ground_detail {
    width: 85%;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #001E42;
    margin-block-end: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.ground_detail_name {
    height: 40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #6A99B6;
    border-right: 2px solid #001E42;
    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #001E42;
}

.ground_detail_desc {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 63%;
    overflow-y: hidden;
}